@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this if you have a style section */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.img-scale-enter-active,
.img-scale-leave-active {
  transition: all 0.3s ease;
}

.img-scale-enter-from,
.img-scale-leave-to {
  transform: scale(0.95);
  opacity: 0;
}
